.userContainerLoading {
    height: 100vh;
}

.usersList {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.userListBloco {
    border: 2px black solid;
    border-radius: 14px;
    margin: 5px
}

.userListBloco:hover {
    background-color: rgb(192, 194, 194);
}